.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 25rem;
  background: rgb(204, 220, 228);
  padding: 20px;
  border-radius: 4px;
  position: relative;
  z-index: 999;
}

.closeButton {
  position: absolute;
  top: 2px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
