.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 25rem;
  background: rgb(204, 220, 228);
  padding: 20px;
  border-radius: 4px;
  position: relative;
  z-index: 999;
}

/* .closeButton {
  position: absolute;
  top: 2px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
} */

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #30cfd0;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #28b6b6;
}
