@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Oleo', sans-serif;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: #00000000;
  margin-bottom: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border-radius: 1rem;
}

:hover,
.visible-scrollbar {
  scrollbar-color: var(--scrollbar) #00000000;
}

:hover::-webkit-scrollbar-thumb,
.visible-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

div:nth-of-type(1) {
  grid-column: 1 / span 6;
}

/* div:nth-of-type() {
  gap: 0;
} */

/*-----------------------------------------------------------------------------------------------*/

/* @media (max-width: 48rem) {
  ul {
    margin: 0;
    padding: 0;
  }
  ul li a {
    padding: 0;
  }
} */

/* .slick-prev {
  left: -52px !important;
}

.slick-next:before,
.slick-prev:before {
  content: '' !important;
}
.next-slick-arrow,
.prev-slick-arrow {
  color: #80fbff;
  font-size: 48px;
  transition: all 0.3s ease-out;
}

.next-slick-arrow:hover,
.prev-slick-arrow:hover,
.next-slick-arrow:active,
.prev-slick-arrow:active {
  color: #23f8ff;
  font-size: 48px;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
