.signupButton {
  /* background: #d8d8d82d; */
  color: white;
  padding: 1rem 1.4rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.authButtons {
  background: rgba(0, 0, 0, 0.055);
  color: #707070;
  padding: 0.7rem 1.4rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.authButtons:hover {
  background: rgba(0, 0, 0, 0.116);
}

@media (max-width: 48rem) {
  .signupButton {
    padding: 0;
    background: none;
  }
}
